{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        main {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .subscribe {
            width: 50%;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            padding: 30px 20px;
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32)inset;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32)inset;
            background-color: #f0f2f5;
        }
        .subscribe form {
            width: 80%;
        }
        .subscribe form div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .subscribe form div input {
            width: 100%;
            padding: 10px;
            border: 1px solid gray;
            background-color: gray;
            border-radius: 20px;
            margin-bottom: 20px;
            color: white;
        }
        .btn {
            padding: 10px;
            border-radius: 20px;
            border: none;
            background-color: gray;
            color: white;
            text-transform: uppercase;
            transition: All .3s;
            cursor: pointer;
        }
        .btn:hover {
            background-color: black;
        }
        .confirm {
            width: 100%;
        }
        .confirm div {
            display: flex!important;
            justify-content: flex-start!important;
            flex-wrap: nowrap!important;
            width: 100%!important;
        }
        .confirm div label {
            width: 20%!important;
        }
        .confirm div input {
            width: auto!important;
        }
    </style>
    <main>
        <div class="title">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        </div>
        <div class="subscribe">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="separator">
                    <label for="inputLogin">Login</label>
                    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                </div>
                <div class="separator">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </main>

{% endblock %}
